# Omit rust, java target directories
target/

# Omit node.js node_modules
node_modules/

# Omit dotnet bin and obj files
bin/
obj/

# Omit MacOS DS_Store
.DS_Store

# PHP vendor dir
/php/vendor

# Go Binary
/go/main

# VS Code
.vscode/
otel-chain.sln